<a href="https://colab.research.google.com/github/tkasod2/TIL/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%A4%80%EB%B9%84%EC%9A%A9_%ED%9D%90%EB%A6%84%ED%8C%8C%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
# !unzip -q '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형.zip' -d '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형'
# !unzip -q '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형.zip' -d '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형'

In [ ]:
'''
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다
큰 값을 가지는 레코드 수를 구하시오.
'''

'\nmtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다\n큰 값을 가지는 레코드 수를 구하시오.\n'

In [3]:
data1 = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형/mtcars.csv')

In [4]:
import sklearn.preprocessing as PPR

In [5]:
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', '_polynomial', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [6]:
scaler = PPR.MinMaxScaler()
data1['qsec_new'] = scaler.fit_transform(data1['qsec'].values.reshape(-1,1))

In [7]:
answer = len(data1[data1['qsec_new']>0.5])
print(answer)

9

In [8]:
''' 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든
후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을
다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라
채점) 

<유의사항>
 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류
알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.'''

' 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든\n후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을\n다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라\n채점) \n\n<유의사항>\n 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류\n알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.'

In [9]:
X_train = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/X_train.csv', encoding='euc-kr')
X_test = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/X_test.csv', encoding='euc-kr')
y_train = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/y_train.csv', encoding='euc-kr')

In [12]:
X_train['구분'] = 'train'
X_test['구분'] = 'test'
X_data = pd.concat([X_train,X_test])

In [13]:
y_train

      cust_id  gender
0           0       0
1           1       0
2           2       1
3           3       1
4           4       0
...       ...     ...
3495     3495       1
3496     3496       1
3497     3497       0
3498     3498       0
3499     3499       0

[3500 rows x 2 columns]

In [14]:
import sklearn.preprocessing

In [15]:
encoder = sklearn.preprocessing.OneHotEncoder(categories='auto', sparse=False)

In [16]:
categorical_columns = ['주구매상품','주구매지점']

In [17]:
numeric_columns = [x for x in X_train.columns if x not in categorical_columns]

In [33]:
encoder.fit(X_data)
df_X = pd.DataFrame(encoder.fit_transform(X_data[categorical_columns]))

In [34]:
df_X.columns = encoder.get_feature_names(X_data[categorical_columns].columns)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [35]:
df_X

      주구매상품_가공식품  주구매상품_가구  주구매상품_건강식품  ...  주구매지점_창원점  주구매지점_청량리점  주구매지점_포항점
0            0.0       0.0         0.0  ...        0.0         0.0        0.0
1            0.0       0.0         0.0  ...        0.0         0.0        0.0
2            0.0       0.0         0.0  ...        0.0         0.0        0.0
3            0.0       0.0         0.0  ...        0.0         0.0        0.0
4            0.0       0.0         0.0  ...        0.0         0.0        0.0
...          ...       ...         ...  ...        ...         ...        ...
5977         0.0       0.0         0.0  ...        0.0         0.0        0.0
5978         0.0       0.0         0.0  ...        0.0         0.0        0.0
5979         0.0       0.0         0.0  ...        0.0         0.0        0.0
5980         0.0       0.0         0.0  ...        0.0         0.0        0.0
5981         1.0       0.0         0.0  ...        0.0         0.0        0.0

[5982 rows x 66 columns]

In [36]:
X_data[numeric_columns]

      cust_id       총구매액     최대구매액       환불금액  ...   내점당구매건수    주말방문비율  구매주기     구분
0           0   68282840  11264000  6860000.0  ...  3.894737  0.527027    17  train
1           1    2136000   2136000   300000.0  ...  1.500000  0.000000     1  train
2           2    3197000   1639000        NaN  ...  2.000000  0.000000     1  train
3           3   16077620   4935000        NaN  ...  2.444444  0.318182    16  train
4           4   29050000  24000000        NaN  ...  1.500000  0.000000    85  train
...       ...        ...       ...        ...  ...       ...       ...   ...    ...
2477     5977   82581500  23976000        NaN  ...  1.750000  0.642857    40   test
2478     5978     480000    480000        NaN  ...  1.000000  0.000000     0   test
2479     5979  260003790  25750000        NaN  ...  3.736842  0.915493    18   test
2480     5980   88991520  18120000        NaN  ...  3.600000  0.444444    60   test
2481     5981     623700    209000        NaN  ...  5.000000  0.000000    31   test

[5982 rows x 9 columns]

In [38]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: Union[Iterable[~FrameOrSeries], Mapping[Union[Hashable, NoneType], ~FrameOrSeries]], axis=0, join='outer', ignore_index: bool = False, keys=None, levels=None, names=None, verify_integrity: bool = False, sort: bool = False, copy: bool = True) -> Union[ForwardRef('DataFrame'), ForwardRef('Series')]
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'.
        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionadded:: 0.23.0
        .. versionchanged:: 1.0.0

           Changed to not sort by default.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    Series.append : Concatenate Series.
    DataFrame.append : Concatenate DataFrames.
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

In [39]:
pd.concat([X_data[numeric_columns],df_X], axis = 1)

ValueError: ignored

In [40]:
x_new_tr

NameError: ignored

In [ ]:
len(X_train['주구매상품'].drop_duplicates())

42

In [ ]:
set(X_train['주구매상품'].drop_duplicates()).difference(set(X_test['주구매상품'].drop_duplicates()))

{'소형가전'}

In [ ]:
sklearn.metrics.roc_auc_score

In [ ]:
model = sklearn.linear_model.LogisticRegression()

In [ ]:
model.fit(X_train,y_train)