<a href="https://colab.research.google.com/github/tkasod2/TIL/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%A4%80%EB%B9%84%EC%9A%A9_%ED%9D%90%EB%A6%84%ED%8C%8C%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
# !unzip -q '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형.zip' -d '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형'
# !unzip -q '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형.zip' -d '/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형'

In [ ]:
'''
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다
큰 값을 가지는 레코드 수를 구하시오.
'''

'\nmtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다\n큰 값을 가지는 레코드 수를 구하시오.\n'

In [3]:
data1 = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제1유형/mtcars.csv')

In [4]:
import sklearn.preprocessing as PPR

In [8]:
scaler = PPR.MinMaxScaler()
data1['qsec_new'] = scaler.fit_transform(data1['qsec'].values.reshape(-1,1))
answer = len(data1[data1['qsec_new']>0.5])
print(answer)

9

In [ ]:
''' 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든
후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을
다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라
채점) 

<유의사항>
 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류
알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.'''

' 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든\n후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을\n다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라\n채점) \n\n<유의사항>\n 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류\n알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.'

In [9]:
X_train = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/X_train.csv', encoding='euc-kr')
X_test = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/X_test.csv', encoding='euc-kr')
y_train = pd.read_csv('/content/gdrive/MyDrive/빅분기/[Dataset] 작업형 제2유형/y_train.csv', encoding='euc-kr')

In [19]:
# X_data Merge (for One hot encoding)
X_train['구분'] = 'train'
X_test['구분'] = 'test'
X_data = pd.concat([X_train,X_test],ignore_index = True)

X_data

      cust_id       총구매액     최대구매액       환불금액  ...   내점당구매건수    주말방문비율  구매주기     구분
0           0   68282840  11264000  6860000.0  ...  3.894737  0.527027    17  train
1           1    2136000   2136000   300000.0  ...  1.500000  0.000000     1  train
2           2    3197000   1639000        NaN  ...  2.000000  0.000000     1  train
3           3   16077620   4935000        NaN  ...  2.444444  0.318182    16  train
4           4   29050000  24000000        NaN  ...  1.500000  0.000000    85  train
...       ...        ...       ...        ...  ...       ...       ...   ...    ...
5977     5977   82581500  23976000        NaN  ...  1.750000  0.642857    40   test
5978     5978     480000    480000        NaN  ...  1.000000  0.000000     0   test
5979     5979  260003790  25750000        NaN  ...  3.736842  0.915493    18   test
5980     5980   88991520  18120000        NaN  ...  3.600000  0.444444    60   test
5981     5981     623700    209000        NaN  ...  5.000000  0.000000    31   test

[5982 rows x 11 columns]

In [20]:
y_train

      cust_id  gender
0           0       0
1           1       0
2           2       1
3           3       1
4           4       0
...       ...     ...
3495     3495       1
3496     3496       1
3497     3497       0
3498     3498       0
3499     3499       0

[3500 rows x 2 columns]

In [21]:
# column 정의
categorical_columns = ['주구매상품','주구매지점']
numeric_columns = [x for x in X_train.columns if x not in categorical_columns]

# 범주형 변수 처리 one hot encoding
encoder = PPR.OneHotEncoder(categories='auto', sparse=False)
categorical_X = pd.DataFrame(encoder.fit_transform(X_data[categorical_columns]))
categorical_X.columns = encoder.get_feature_names(X_data[categorical_columns].columns)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      주구매상품_가공식품  주구매상품_가구  주구매상품_건강식품  ...  주구매지점_창원점  주구매지점_청량리점  주구매지점_포항점
0            0.0       0.0         0.0  ...        0.0         0.0        0.0
1            0.0       0.0         0.0  ...        0.0         0.0        0.0
2            0.0       0.0         0.0  ...        0.0         0.0        0.0
3            0.0       0.0         0.0  ...        0.0         0.0        0.0
4            0.0       0.0         0.0  ...        0.0         0.0        0.0
...          ...       ...         ...  ...        ...         ...        ...
5977         0.0       0.0         0.0  ...        0.0         0.0        0.0
5978         0.0       0.0         0.0  ...        0.0         0.0        0.0
5979         0.0       0.0         0.0  ...        0.0         0.0        0.0
5980         0.0       0.0         0.0  ...        0.0         0.0        0.0
5981         1.0       0.0         0.0  ...        0.0         0.0        0.0

[5982 rows x 66 columns]

In [23]:
numeric_X = X_data[numeric_columns]

In [27]:
X = pd.concat([numeric_X,categorical_X], axis = 1)
X_train = X[X['구분']=='train']
X_test = X[X['구분']=='test']

In [47]:
X_test.head()

           총구매액     최대구매액        환불금액  ...  주구매지점_창원점  주구매지점_청량리점  주구매지점_포항점
3500   70900400  22000000   4050000.0  ...        0.0         0.0        0.0
3501  310533100  38558000  48034700.0  ...        0.0         0.0        0.0
3502  305264140  14825000  30521000.0  ...        0.0         0.0        0.0
3503    7594080   5225000         NaN  ...        0.0         0.0        0.0
3504    1795790   1411200         NaN  ...        0.0         1.0        0.0

[5 rows x 73 columns]

In [ ]:
sklearn.metrics.roc_auc_score

In [32]:
import xgboost as xgb

In [39]:
# 사용하지 않는 Columns 삭제
del X_train['구분']
del X_train['cust_id']
del X_test['구분']
del X_test['cust_id']
del y_train['cust_id']

# model fitting
clf = xgb.XGBClassifier(random_state=999)
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(random_state=999)

In [41]:
out = pd.DataFrame(clf.predict(X_test))

      0
0     0
1     0
2     0
3     0
4     0
...  ..
2477  1
2478  1
2479  0
2480  0
2481  0

[2482 rows x 1 columns]

In [43]:
import sklearn.metrics

In [ ]:
sklearn.metrics.roc_auc_score