<a href="https://colab.research.google.com/github/tkasod2/TIL/blob/main/prj_analysis/Retailrocket_recommender_system_datase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

data link : https://www.kaggle.com/retailrocket/ecommerce-dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

# !unzip -qq '/content/drive/MyDrive/공부/Kaggle/eCommerce behavior data from multi category store.zip' -d '/content/drive/MyDrive/공부/Kaggle/eCommerce behavior data from multi category store'

# # GPU Check
# !nvidia-smi

# # CPU Check
# !head /proc/cpuinfo

# # RAM
# !head -n 3 /proc/meminfo

Mounted at /content/drive

In [3]:
import pandas as pd
import os

In [47]:
PATH = '/content/drive/MyDrive/공부/Kaggle/Retailrocket recommender system dataset/'

FILES = list(os.listdir(PATH))
FILES = [x.split('.csv')[0] for x in FILES]

def readcsv(x):
  return pd.read_csv(PATH + x)

for i in FILES:
  globals()[f'df_{i}'] = readcsv(i+'.csv')

In [48]:
df_events.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [49]:
import datetime
df_events['datetime'] = (df_events['timestamp']/1000).apply(datetime.datetime.fromtimestamp)

In [56]:
df_events['date'] = df_events['datetime'].dt.strftime('%Y-%m-%d')
df_events.info()
df_events

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
 5   datetime       datetime64[ns]
 6   date           object
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 147.2+ MB

             timestamp  visitorid  ...                datetime        date
0        1433221332117     257597  ... 2015-06-02 05:02:12.117  2015-06-02
1        1433224214164     992329  ... 2015-06-02 05:50:14.164  2015-06-02
2        1433221999827     111016  ... 2015-06-02 05:13:19.827  2015-06-02
3        1433221955914     483717  ... 2015-06-02 05:12:35.914  2015-06-02
4        1433221337106     951259  ... 2015-06-02 05:02:17.106  2015-06-02
...                ...        ...  ...                     ...         ...
2756096  1438398785939     591435  ... 2015-08-01 03:13:05.939  2015-08-01
2756097  1438399813142     762376  ... 2015-08-01 03:30:13.142  2015-08-01
2756098  1438397820527    1251746  ... 2015-08-01 02:57:00.527  2015-08-01
2756099  1438398530703    1184451  ... 2015-08-01 03:08:50.703  2015-08-01
2756100  1438400163914     199536  ... 2015-08-01 03:36:03.914  2015-08-01

[2756101 rows x 7 columns]

In [11]:
df_item_properties_part1.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [12]:
df_item_properties_part2.head()

       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062